@use "../../styles/colors.scss";
@use "../../styles/mixin.scss";

.Link {
  display: block;
  width: 28rem;
  margin: 4.8rem auto 2.4rem;

  .Link__button {
    border-radius: 12px;
    background: colors.$purple-600;
    width: 28rem;
    padding: 1.4rem 2.4rem;

    color: colors.$white;
    text-align: center;
    /* Font/18 Bold */

    @include mixin.font-style(1.8rem, 700, 2.8rem);
  }
}
