// NavigationBar.scss
@use "../../styles/colors.scss";
@use "../../styles/mixin.scss";

.nav {
  display: flex;
  justify-content: center;

  position: sticky;
  width: 100%;
  height: 3rem;
  padding: 3.2rem 10rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;

  box-sizing: border-box;
  border-bottom: 1px solid colors.$gray-300;
  background-color: colors.$white;
  &__frame {
    display: flex;
    align-items: center;
    gap: 944px;
  }

  &__logo__wrapper {
    display: flex;
    gap: 10px;

    & .logo__image {
      width: 27.818px;
      height: 27.658px;
    }

    & .logo__text {
      color: colors.$gray-600;
      text-align: center;
      font-size: 19.971px;
      font-weight: 700;
    }
  }

  &__button {
    display: flex;
    height: 42px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    border: 1px solid colors.$gray-300;
    background: var(--white, #fff);
  }

  &__font {
    color: colors.$gray-900;
    text-align: center;
    font-size: 16px;

    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.16px;
  }
}
